<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tidak punya akses</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card center-block" style="margin-left:auto; margin-right: auto">
                <div class="card-header">
                    <h3>Perhatian!</h3>
                </div>
                <div class="card-body">
                    <h4 style="color: red">Ups, Anda tidak punya akses!</h4>
                </div>
            </div>
        </div>
    </div>
    <br>

</div>
</body>

</html>